:root {
    --bg-color: #FAF4ED;
    --bg2-color: #F6EFE8;
    --bg3-color: #F8F1E9;
    --bg4-color: #d5d4d2;
    --bg5-color: #E88534;
    --btn-color: #E75C01;
    --btn2-color: #F5EDE5;
    --txt-color: #171716;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

html,
body {
    width: 100%;
    background-color: var(--bg5-color);
    padding:1rem;
}

main {
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    padding-inline: 6rem;
    padding-block: 1rem;
    border-radius: 1rem;
}

nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-left .logo{
    width:100px;
}

nav menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav menu a {
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--txt-color);
    font-weight: 550;
}

nav .nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-right:3rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.hero .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.hero .hero-left .new {
    font-weight: 600;
    color: var(--btn-color);
    font-size: 0.7rem;
    text-transform: uppercase;
}

.hero .hero-left h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 600;
    padding-block: 0.5rem;
}

.hero .hero-left h1 span {
    color: var(--btn-color);
    padding-left: 0.5rem;
}

.hero .hero-left .price {
    font-weight: 600;
    font-size: 1.2rem;
}

.hero .hero-left hr {
    width: 100%;
    height: 1px;
    color: var(--txt-color);
    opacity: 0.3;
    margin-block: 1rem;
}

.hero .hero-left h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
}

.hero .hero-left p {
    font-weight: 400;
    color: var(--txt-color);
    opacity: 0.8;
    padding-block: 1rem;
    font-size: 0.8rem;
    line-height: 18px;
}

.hero .hero-left h4 i {
    color: var(--btn-color);
    font-weight: 500;
    font-size: 1rem;
}

.hero .hero-left .dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: var(--txt-color);
}

.hero .hero-left .dropdown i {
    color: var(--txt-color);
    opacity: 0.6;
}

.hero-center {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-center img {
    width: 90%;
}

.hero .hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.hero .hero-right h3 {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: var(--txt-color);
    font-weight: 600;
}

.hero .hero-right .sizes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-block: 1rem;
}

.hero .hero-right .sizes h5 {
    height: 30px;
    width: 30px;
    background: var(--bg2-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.hero .hero-right .size-guide {
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 600;
}

.hero .hero-right .size-guide i {
    color: var(--btn-color);
    font-weight: 300;
}

.hero .hero-right .sizes h5:nth-child(2),
.hero .hero-right .sizes h5:hover {
    background: var(--btn-color);
    color: var(--btn2-color);
}

.hero .hero-right hr {
    width: 100%;
    color: var(--txt-color);
    opacity: 0.3;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.hero .hero-right .color-img-thumbs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-block: 2rem;
    text-align: center;
}

.hero .hero-right .color-img-thumbs h5 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.6rem;
    margin-block: 0.2rem;
}


.hero .hero-right img {
    height: 80px;
    width: 80px;
    aspect-ratio: 1/1;
    object-fit: center;
    object-position: cover;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 5px;
}

.hero .hero-right .color-img-thumbs .thumb1 img,
.hero .hero-right img:hover {
    border: 1px solid var(--btn-color);
}

.hero .hero-right .add-to-wishlist,
.hero .hero-right .add-to-bag {
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    margin-block: 1rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.hero .hero-right .add-to-wishlist:active,
.hero .hero-right .add-to-bag:active {
    transform: scale(0.95);
}

.hero .hero-right .add-to-wishlist {
    padding-block: 0.4rem;
    padding-inline: 1rem;
    background-color: transparent;
    border: 1px solid var(--bg4-color);
    color: var(--txt-color);
    font-size: 0.6rem;
    font-weight: 600;
}

.hero .hero-right .add-to-bag {
    padding-block: 0.8rem;
    padding-inline: 1.2rem;
    background-color: transparent;
    background: var(--btn-color);
    color: var(--btn2-color);
    font-size: 0.8rem;
    font-weight: 600;
}

.hero .hero-right .add-to-bag i,
.hero .hero-right .add-to-wishlist i {
    font-size: 1rem;
}


.features {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-block: 2rem;
}

.features div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8rem;
}

.features div i {
    font-size: 2rem;
    font-weight: 400;
    color: var(--txt-color);
    opacity: 0.6;
}

.features div h4 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--txt-color);
    opacity: 0.6;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer .top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background: var(--bg2-color);
    border-radius: 1rem;
    width: 100%;
    border-bottom: 1px solid var(--bg4-color);
    padding: 1rem;
}

footer .top img {
    height: 120px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

footer .top .q-right h4 {
    font-weight: 600;
    color: var(--txt-color);
    font-size: 1rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}


footer .top .q-right p {
    font-weight: 400;
    color: var(--txt-color);
    opacity: 0.6;
    font-size: 0.8rem;
    line-height: 16px;
}

footer .bottom {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background: var(--bg2-color);
    border-radius: 1rem;
    width: 100%;
    border-top: 1px solid var(--bg4-color);
}

footer .qualities {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 300px;
}

footer .bottom i {
    font-size: 2rem;
    color: var(--txt-color);
    opacity: 0.6;
}

footer .bottom .f-right,
footer .top .q-right {
    padding-block: 0.5rem;
    height: 100%;
}

footer .bottom .f-right h4 {
    font-weight: 600;
    color: var(--txt-color);
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-bottom: 0.1rem;
}


footer .bottom .f-right p {
    font-weight: 400;
    color: var(--txt-color);
    opacity: 0.6;
    font-size: 0.7rem;
    line-height: 16px;
}

footer .bottom .p3 i,
footer .bottom .p4 i {
    color: var(--btn-color);
}