:root {
    --bg-color: #FAF4ED;
    --bg2-color: #F6EFE8;
    --bg3-color: #F8F1E9;
    --btn-color: #E75C01;
    --btn2-color: #F5EDE5;
    --txt-color: #171716;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    padding-inline: 2rem;
}

nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav menu a {
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--txt-color);
    font-weight: 550;
}

nav .nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer .top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background: var(--bg2-color);
    border-radius: 1rem;
    width: 100%;
    border-bottom: 1px solid var(--btn-color);
    padding: 1rem;
}

footer .top img {
    height: 120px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

footer .top .q-right h4 {
    font-weight: 600;
    color: var(--txt-color);
    font-size: 1rem;
    text-transform: uppercase;
}


footer .top .q-right p {
    font-weight: 400;
    color: var(--txt-color);
    opacity: 0.6;
    font-size: 0.8rem;
}

footer .bottom {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    background: var(--bg2-color);
    border-radius: 1rem;
    width: 100%;
    border-top: 1px solid var(--btn-color);
}

footer .qualities {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width:300px;
}

footer .bottom i {
    font-size: 2rem;
}

footer .bottom .f-right,
footer .top .q-right {
    padding-block: 0.5rem;
    height:100%;
}

footer .bottom .f-right h4 {
    font-weight: 600;
    color: var(--txt-color);
    font-size: 0.8rem;
    text-transform: uppercase;
}


footer .bottom .f-right p {
    font-weight: 400;
    color: var(--txt-color);
    opacity: 0.6;
    font-size: 0.7rem;
}